[submodule "colcon_ws/src/cartographer_spot"]
	path = colcon_ws/src/cartographer_spot
	url = https://github.com/alaurachagas/cartographer_spot.git
[submodule "colcon_ws/src/velodyne"]
	path = colcon_ws/src/velodyne
	url = https://github.com/ros-drivers/velodyne.git
	branch = humble-devel
[submodule "colcon_ws/src/spot_description"]
	path = colcon_ws/src/spot_description
	url = https://github.com/bdaiinstitute/spot_description.git
[submodule "colcon_ws/src/spot_nav2"]
	path = colcon_ws/src/spot_nav2
	url = https://github.com/alaurachagas/spot_nav2.git
